# ***Theory Questions***

Q1) What are data structures, and why are they important?
- Data structures are ways to organize and store data in a program so that we can use it efficiently.
 They're important because they help us to manage and process data faster and better depending on the task.

Q2) Explain the difference between mutable and immutable data types with examples.
- Mutable means we can change the value after it's created. For example, a list is mutable we can add or remove items. Immutable means once it's made, we can't change it. A string or a tuple is immutable, we can't modify them directly.

Q3)  What are the main differences between lists and tuples in Python?
- Lists can be changed (mutable), but tuples can't (immutable). Also, lists use more memory and are a bit slower, while tuples are faster and use less memory.

Q4) Describe how dictionaries store data?
- Dictionaries store data as key-value pairs. It is like a real dictionary: the word is the key, and the definition is the value. We can quickly find a value by looking up its key.

Q5) Why might you use a set instead of a list in Python?
- Sets don't allow duplicates and are faster for checking if an item exists. If we only need unique values and care about speed, use a set.

Q6)  What is a string in Python, and how is it different from a list?
-  A string is a series of characters like "hello". A list can contain anything like numbers, strings, even other lists. Also, strings are immutable; we can't change them like we can with lists.

Q7) How do tuples ensure data integrity in Python?
-  Because tuples are immutable (can't be changed), they protect data from being accidentally modified. That helps keep the data safe and reliable.

Q8) What is a hash table, and how does it relate to dictionaries in Python?
-  A hash table is a way of storing data using a unique key for each value. Python dictionaries use hash tables under the hood to quickly find values by their keys.

Q9) Can lists contain different data types in Python?
- Yes! A list can hold numbers, strings, other lists, or even mixed types all together.

Q10) Explain why strings are immutable in Python?
-  Strings are immutable to make them faster, safer, and more memory-efficient. Since they don't change, Python can reuse them and avoid bugs from unexpected changes.

Q11) What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries are great when you want to quickly look up a value using a name or key. They are much faster than searching through a list to find something.

Q12) Describe a scenario where using a tuple would be preferable over a list?
- If we have a fixed set of data like coordinates (x, y) or a date (day, month, year) that shouldn't change, a tuple is better because it protects the data from being modified.

Q13) How do sets handle duplicate values in Python?
- Sets automatically remove duplicates. If we try to add the same item twice, it only keeps one.

Q14) How does the “in” keyword work differently for lists and dictionaries?
- In a list, “in” checks if a value exists. In a dictionary, it checks if a key exists (not the value).

Q15) Can you modify the elements of a tuple? Explain why or why not?
- No, we can't. Tuples are immutable, so once they're created, we can't change, add, or remove elements.

Q16) What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary inside another dictionary. It's useful for storing related data, like:

In [1]:
students = {
  "Alice": {"age": 20, "grade": "A"},
  "Bob": {"age": 22, "grade": "B"}
}
print(students);

{'Alice': {'age': 20, 'grade': 'A'}, 'Bob': {'age': 22, 'grade': 'B'}}

Q17) Describe the time complexity of accessing elements in a dictionary?
- Accessing a value in a dictionary is usually O(1), which means it's super fast just one quick step.

Q18) In what situations are lists preferred over dictionaries?
- Use lists when we just need an ordered collection of items, especially if the order matters or we don't need to look things up by key.

Q19) Why are dictionaries considered unordered, and how does that affect data retrieval?
- Earlier, dictionaries didn't keep the order of keys. Now in Python 3.7+, they do keep the order, but the idea is that we don't rely on the order just on the keys. We retrieve data by key, not position.

Q20)  Explain the difference between a list and a dictionary in terms of data retrieval?
- In a list, we access items by index (like list[0]). In a dictionary, we access items by key (like dict["name"]), which is usually faster and more meaningful.

# ***Practical Questions***

Q1) Write a code to create a string with your name and print it.

In [2]:
name = "Vivek"
print(name);

Vivek

Q2) Write a code to find the length of the string "Hello World".

In [3]:
str = "Hello World";
print(len(str));

11

Q3) Write a code to slice the first 3 characters from the string "Python Programming"?

In [5]:
str = "Python Programming";
print(str[:3]);

Pyt

Q4) Write a code to convert the string "hello" to uppercase.

In [7]:
str = "Hello";
print(str.upper());

HELLO

Q5) Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [9]:
str = "I like apple"
str = str.replace("apple","orange");
print(str);

I like orange

Q6) Write a code to create a list with numbers 1 to 5 and print it.

In [10]:
my_list = [];
for i in range(1,6):
  my_list.append(i);
print(my_list);
print(type(my_list));

[1, 2, 3, 4, 5]
<class 'list'>

Q7) Write a code to append the number 10 to the list [1, 2, 3, 4].

In [11]:
mylist = [1,2,3,4];
mylist.append(10);
print(mylist);

[1, 2, 3, 4, 10]

Q8)  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [12]:
mylist = [1,2,3,4,5];
mylist.remove(3);
print(mylist);

[1, 2, 4, 5]

Q9) Write a code to access the second element in the list ['a', 'b', 'c','d']

In [13]:
mylist = ['a', 'b', 'c', 'd'];
print(mylist[1]); #0 based indexing

b

Q10) Write a code to reverse the list [10, 20, 30, 40, 50].

In [14]:
mylist = [10,20,30,40,50];
print(mylist[::-1]);

[50, 40, 30, 20, 10]

Q11) Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [15]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

Q12)  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [16]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2]);

blue

Q13) Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [17]:
nums = (10, 20, 5, 15)
print(min(nums))

5

Q14) Find the index of "cat" in the tuple ('dog', 'cat', 'rabbit').

In [18]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

Q15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [19]:
fruits = ('apple', 'banana', 'orange')
print("kiwi" in fruits)

False

Q15) Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [20]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

Q17) Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [21]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

Q18) Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [22]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

Q19) Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [23]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

Q20) Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [24]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

Q21) Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [27]:
person = {"name": "Vivek", "age": 22, "city": "Delhi"}
print(person)

{'name': 'Vivek', 'age': 22, 'city': 'Delhi'}

Q22) Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [28]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

Q23) Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [29]:
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

 Q24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [30]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

Q25) Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [31]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

Q26)  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [32]:
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {"name": "Tom", "age": 20}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
('a', 'b', 'c')
{'name': 'Tom', 'age': 20}

Q27)  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [33]:
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[26, 36, 42, 75, 96]

Q28)  Write a code to create a list with strings and print the element at the third index.

In [34]:
words = ["apple", "banana", "cherry", "date", "kiwi"]
print(words[3])

date

Q29) Write a code to combine two dictionaries into one and print the result.

In [35]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q30) Write a code to convert a list of strings into a set.

In [36]:
words = ["apple", "banana", "apple", "orange"]
unique_words = set(words)
print(unique_words)

{'apple', 'orange', 'banana'}